{% extends 'base.html' %}
{% load static %}


{% block title %} Reviews{% endblock %}


{% block content %}
<!-- Section for viewing rewiews -->
<h1 class="text-center">Reviews:</h1>
<div class="container d-flex flex-wrap justify-content-center">

    {% for review in reviews %}
    <div class="card text-bg-dark">
        {% if review.image %}
        <img class="img-valid card-img" src="{{ review.image.url }}" alt="{{ review.image_alt }}">
        {% else %}
        <!-- Placeholder image in case image is NOT uploaded -->
        <img class="img-placeholder card-img" src="{% static 'images/main-logo.webp' %}"
            alt="Review does not have an image">
        {% endif %}
        <div class="card-img-overlay">
            <h2 class="card-title">{{review.title}}</h2>
            <p class="card-text">{{review.details}}</p>
            <p class="card-text">Rating: {{review.rating}} out of 5 &mdash; {{review.user}}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}