{% extends 'base.html' %}
{% load static %}

{% block title %} Your Bookings{% endblock %}

{% block content %}
<div class="container m-3">
    <!-- Booking section -->
    <div class="form-style">
        <h1 class="text-center">Your Bookings:</h1>
        <table class="table table-striped table-hover">
            <thead class="d-none d-md-table-header-group">
                <tr>
                    <th>Booking ID</th>
                    <th>Name</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Guests</th>
                    <th>Room Type</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in object_list %}
                <tr>
                    <td data-label="Booking ID"><br>{{ booking.pk }}</td>
                    <td data-label="Name"><br>{{ booking.full_name }}</td>
                    <td data-label="Check-in"><br>{{ booking.check_in }}</td>
                    <td data-label="Check-out"><br>{{ booking.check_out }}</td>
                    <td data-label="Guests"><br>{{ booking.guests }}</td>
                    <td data-label="Room Type"><br>{{ booking.get_room_type_display }}</td>
                    <td><br>
                        <a href="{% url 'editbooking' booking.id %}" class="my-button" aria-label="Edit your booking">
                            Edit
                        </a>
                    </td>
                    <td><br>
                        <a href="{% url 'delete_booking' booking.id %}" class="my-button"
                            aria-label="Delete your booking">
                            Delete
                        </a>
                    </td>
                </tr>
                {% empty %}
                    <tr class="empty-row">
                        <td colspan="8" class="text-center">No bookings found.</td>
                    </tr>
                    <a href="{% url 'reservation' %}"
                        class="book-button z-3 position-absolute top-50 start-50 translate-middle p-2 rounded-3 text-decoration-none"
                        aria-label="Click to book now">
                        BOOK NOW!
                    </a>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}