{% extends 'base.html' %}
{% load static %}


{% block title %} reservation{% endblock %}


{% block content %}

<h1 class="text-center">Reserve your room:</h1>

<section>
    <div class="container-fluid py-5 px-5">
        {% if messages %}
            {% for message in messages %}
                <script>alert("{{ message }}");</script>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="row justify-content-center py-5 bg-light">
                <div class="col-lg-2">
                    {{ form.full_name.label_tag }}
                    {{ form.full_name }}
                </div>
                <div class="col-lg-2">
                    {{ form.check_in.label_tag }}
                    {{ form.check_in }}
                </div>
                <div class="col-lg-2">
                    {{ form.check_out.label_tag }}
                    {{ form.check_out }}
                </div>
                <div class="col-lg-2">
                    {{ form.guests.label_tag }}
                    {{ form.guests }}
                </div>
                <div class="col-lg-2">
                    {{ form.room_type.label_tag }}
                    {{ form.room_type }}
                </div>
                <div class="col-lg-4 mt-2">
                    {{ form.additional_info.label_tag }}
                    {{ form.additional_info }}
                </div>
                <div class="col-lg-2">
                    <input type="submit" value="Reserve" class="form-control btn btn-primary my-4">
                </div>
            </div>
        </form>
    </div>
</section>



{% endblock %}