{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<!--Carousel the first few images when user visit the page-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <!-- Button to view our rooms -->
    <a href="{% url 'room-list' %}"
        class="book-button z-3 position-absolute top-50 start-50 translate-middle p-2 rounded-3 text-decoration-none"
        aria-label="Click to view our rooms">
        OUR ROOMS!
    </a>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/pool.webp' %}" class="img-carousel d-block " alt="Pool area image">
            <div class="carousel-caption ">
                <p class="text-xxl-start text-carousel">Relax</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/clubhouse.webp' %}" class="img-carousel d-block" alt="Clubhouse image">
            <div class="carousel-caption ">
                <p class="text-xxl-start text-carousel">Socialize</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/gym.webp' %}" class="img-carousel d-block" alt="Gym image">
            <div class="carousel-caption ">
                <p class="text-xxl-start text-carousel">Exercise</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/office.webp' %}" class="img-carousel d-block" alt="Office space image">
            <div class="carousel-caption ">
                <p class="text-xxl-start text-carousel">Work</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/outside.webp' %}" class="img-carousel d-block" alt="Outside building image">
            <div class="carousel-caption ">
                <p class="text-xxl-start text-carousel">Live</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/view.webp' %}" class="img-carousel d-block" alt="View image">
            <div class="carousel-caption ">
                <p class="text-xxl-start text-carousel">Enjoy every single day!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}