{% load static %}
<!-- Footer section -->
<footer>
    <section class="social-media">
        <a href="https://github.com/GrzegorzStary" target="_blank" rel="noopener noreferrer"
            aria-label="GitHub profile link - opens in new tab">
            <img src="{% static 'icons/github.svg' %}" alt="GitHub logo" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/in/gregory-stary-software-dev" target="_blank" rel="noopener noreferrer"
            aria-label="LinkedIn profile link - opens in new tab">
            <img src="{% static 'icons/linkedin.svg' %}" alt="LinkedIn logo" class="social-icon">
        </a>
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"
            aria-label="Facebook profile link - opens in new tab">
            <img src="{% static 'icons/facebook.svg' %}" alt="Facebook logo" class="social-icon">
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"
            aria-label="Instagram profile link - opens in new tab">
            <img src="{% static 'icons/instagram.svg' %}" alt="Instagram logo" class="social-icon">
        </a>
    </section>
</footer>
