{% load static %}
{% with request.resolver_match.url_name as url_name %}
<header>
    <nav class="navbar navbar-expand-lg my-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/logo.webp' %}" alt="LOGO"
                    aria-label="Stary condohotel logo - click to redirect to the home page"
                    class="d-inline-block align-text-top" width="50" height="50">
            </a>

            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'index' %}active{% endif %}" aria-current="page"
                            href="{% url 'index' %}" aria-label="Click to redirect to the home page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'room-list' %}active{% endif %}"
                            href="{% url 'room-list' %}" aria-label="Click to navigate to room list">Our rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'contact' %}active{% endif %}"
                            href="{% url 'contact' %}" aria-label="Click to visit contact page">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'reviews' %}active{% endif %}"
                            href="{% url 'reviews' %}" aria-label="Click to visit reviews page">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'about' %}"
                            aria-label="Click to visit about page">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'add_review' %}active{% endif %}"
                            href="{% url 'add_review' %}" aria-label="Click to add a review">Add Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'bookings_list' %}active{% endif %}"
                            href="{% url 'bookings_list' %}" aria-label="Click to manage your bookings">My Bookings</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}"
                                href="/accounts/logout/" aria-label="Click to log out">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}"
                                href="/accounts/signup/" aria-label="Click to register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}"
                                href="/accounts/login/" aria-label="Click to login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endwith %}