{% extends 'base.html' %}
{% load static %}


{% block title %} Room examples{% endblock %}


{% block content %}
<!-- Lists of the available room types with book now button for each-->
<h1 class="text-center">OUR ROOMS:</h1>

<div class="container py-4">
  <div class="row justify-content-center mb-4">
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/6.webp' %}" class="card-img-top" alt="Deluxe room image" aria-label="Deluxe Room Image">
        <div class="card-body">
          <h4 class="card-title text-center">Deluxe</h4>
          <p class="card-text">Enjoy comfort and style in our Deluxe Room with a king bed, free Wi-Fi, elegant décor,
            and a luxurious bathroom.
          </p>
          <p>Price: 2500 PHP/night</p>
          <a href="{% url 'reservation' %}" class="book-button text-decoration-none d-flex justify-content-center"
            aria-label="Book Now Button - Redirect to Booking section">BOOK
            NOW</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/1.webp' %}" class="card-img-top" alt="Single room image" aria-label="Single Room Image">
        <div class="card-body">
          <h4 class="card-title text-center">Single</h4>
          <p class="card-text">Perfect for solo travelers, our Single Room offers a cozy bed, free Wi-Fi, modern décor,
            and a sleek private bathroom.</p>
          <p>Price: 1800 PHP/night</p>
          <a href="{% url 'reservation' %}" class="book-button text-decoration-none d-flex justify-content-center"
            aria-label="Book Now Button - Redirect to Booking section">BOOK
            NOW</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/2.webp' %}" class="card-img-top" alt="Double room image" aria-label="Double Room Image">
        <div class="card-body">
          <h4 class="card-title text-center">Double</h4>
          <p class="card-text">Ideal for two, our Double Room features a comfortable double bed, free Wi-Fi, stylish
            décor, and a modern bathroom.</p>
          <p>Price: 2000 PHP/night</p>
          <a href="{% url 'reservation' %}" class="book-button text-decoration-none d-flex justify-content-center"
            aria-label="Book Now Button - Redirect to Booking section">BOOK
            NOW</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/3.webp' %}" class="card-img-top" alt="Family room image" aria-label="Family Room Image">
        <div class="card-body">
          <h4 class="card-title text-center">Family</h4>
          <p class="card-text">Designed for comfort, our Family Room includes multiple beds, free Wi-Fi, spacious
            layout, and a modern bathroom for all.</p>
          <p>Price: 2300 PHP/night</p>
          <a href="{% url 'reservation' %}" class="book-button text-decoration-none d-flex justify-content-center"
            aria-label="Book Now Button - Redirect to Booking section">BOOK
            NOW</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/4.webp' %}" class="card-img-top" alt="Suite room image" aria-label="Suite Room Image">
        <div class="card-body">
          <h4 class="card-title text-center">Suite</h4>
          <p class="card-text">Indulge in luxury with our Suite, offering a separate living area, king bed, free Wi-Fi,
            elegant décor, and a premium bathroom.</p>
          <p>Price: 2400 PHP/night</p>
          <a href="{% url 'reservation' %}" class="book-button text-decoration-none d-flex justify-content-center"
            aria-label="Book Now Button - Redirect to Booking section">BOOK
            NOW</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/5.webp' %}" class="card-img-top" alt="Double room image" aria-label="Double Room Image">
        <div class="card-body">
          <h4 class="card-title text-center">Double</h4>
          <p class="card-text">Relax together in our Double Room, featuring a cozy double bed, contemporary design, free
            Wi-Fi, and a private bathroom.</p>
          <p>Price: 2100 PHP/night</p>
          <a href="{% url 'reservation' %}" class="book-button text-decoration-none d-flex justify-content-center"
            aria-label="Book Now Button - Redirect to Booking section">BOOK
            NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<p class="text-center">* Rooms are subject to availability. Booking a room type guarantees the same standard, though
  décor may vary.
  <br>By clicking “Book Now” you agree to the Terms and Conditions.
</p>


{% endblock %}