{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!-- Sign up page -->
<div class="container text-center my-5">
  <h1>{% trans "Sign Up" %}</h1>

  <p>
    {% blocktrans %}Already have an account? Then please
    <a href="{{ login_url }}" aria-label="Click to sign in">sign in</a>.{% endblocktrans %}
  </p>

  <form id="signup_form" class="form p-2 mx-auto" method="post" action="{% url 'account_signup' %}" aria-label="Sign up form" style="max-width: 500px;">
    {% csrf_token %}
    
    {% if form.media %}
      {{ form.media }}
    {% endif %}
    
    {{ form|crispy }}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}

    <div class="mt-3">
      <button type="submit" class="btn my-button" aria-label="Sign up button">Sign Up</button>
    </div>
  </form>
</div>
{% endblock %}
